$purple: purple;
$blue: #219dff;
$pink: #ff1f6b;
$black: #000;
$dark: #35373c;
$white:#fff;
$green:#29fd53;
$red: red;
$yellow:yellow;
$text-shadow-main: 2px 2px 1px $pink, -2px -2px 1px $blue;
$text-shadow-header: 5px 5px 10px $pink, -5px -5px 10px $blue;
